* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

/* INTRODUCING THE UEFA FONT */

@font-face {
  font-family: "UEFA Euro";
  src: url(../FONT/UEFAEuro-Medium.ttf);
}

body {
  font-family: "UEFA Euro";
  font-weight: 500;
  font-style: normal;
  background-color: #000d40;
  margin: 0;
}

/* HEADER AND NAVBAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid grey;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  z-index: 1; /* SO THAT THE NAVBAR IS NOT OVERLAPPED BY ANY OTHER ELEMENT SUCH AS THE STATS IMAGES */
  box-shadow: 0 0.2px 5px rgb(48, 46, 46); /* offset x, offset y, blur-radius, color */
}

header img {
  width: 4%;
}

header .cup {
  width: 1%;
  margin: 0;
}

nav .big-ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menuToggle {
  display: none;
}

nav li {
  display: inline-block;
  margin: 10px 0;
}

nav li:hover {
  animation: up 0.8s linear; /* LINEAR MEANS THAT THE ANIMATION WILL HAVE THE SAME SPEED FROM START TO END */
}

@keyframes up {
  /* TRANSLATE WILL MOVE THE ELEMENT FROM ITS CURRENT POSITION (IN THIS CASE IT WILL MOVE OVER THE Y AXIS9 */
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    tranform: translateY(0px);
  }
}

nav a {
  padding: 6px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* WELCOME IMAGE AND H1 */

.welcomeImage img {
  width: 100%;
  object-fit: cover;
  background-position: center;
}

/* TOURNAMENT SECTION */

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-top: 7%;
}

h1:hover {
  color: #ffcd44;
  cursor: pointer;
}

#tournament {
  /* TEXT CONTAINER */
  display: flex;
  justify-content: center;
  color: white;
  text-align: justify;
  gap: 30px;
}

#tournament div {
  width: 40%;
  padding: 20px 0;
}

.champions {
  margin: 40px 0;
  font-size: 40px;
  color: white;
  text-align: center;
}

/* CHAMPIONS CONTAINER */

article div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
}

article img {
  width: 200px; /* width and height: 200px; so that images can be rounded */
  height: 200px;
  border-radius: 50%; /* Rounded images */
  border: 2px solid #ffcd44;
  object-fit: cover;
}

/* GERMANY NEXT HOST */

h3 {
  margin: 60px 0;
  text-align: center;
  font-size: 35px;
  color: white;
}

.germanyHost {
  /* CONTAINER HOLDING A PIECE OF TEXT AND A VIDEO */
  display: flex;
  justify-content: center;
  text-align: justify;
  color: white;
  gap: 50px;
  padding-bottom: 50px;
}

.germanyHost div {
  width: 35%;
}

.description {
  line-height: 110%;
}

/* HOST CITIES SECTION */

#host-cities {
  background-color: rgb(255, 202, 0);
  padding: 80px 0;
}

#host-cities img {
  width: 350px;
}

#host-cities h3 {
  font-size: 35px;
  color: #000d40;
}

.hostCitiesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000d40;
  text-align: justify;
}

.hostCitiesContainer h4 {
  font-size: 25px;
  font-weight: bold;
}

.hostCitiesContainer div {
  width: 30%;
  margin: 20px -40px;
}

/* STATS SECTION */

#stats {
  padding-top: 50px;
  padding-bottom: 160px;
}

#stats div {
  text-align: center;
}

#stats img {
  width: 250px;
  margin: 0 20px;
  border: 2px solid white;
}

#stats .stat1 {
  margin: 30px 0px;
}

#stats .stat1:hover {
  animation: up 0.9s linear;
}

#stats .stat2 {
  margin: 0 10px;
}

#stats .stat2:hover {
  animation: up 0.9s linear;
}

#stats .stat3 {
  margin: 40px 0;
}

#stats .stat3:hover {
  animation: up 0.9s linear;
}

#stats .stat4 {
  margin: 5px 10px;
}

#stats .stat4:hover {
  animation: up 0.9s linear;
}

/* POSITION RELATIVE: The element is positioned relative to its normal position */

/* BY ADDING POSITION RELATIVE, I CAN MANIPULATE THE ELEMENTS USING TOP; LET AND RIGHT OR TOP AND BOTTOM */

#stats .stat5 {
  position: relative;
  bottom: 23px;
  left: 39.5px;
}

#stats .stat5:hover {
  animation: up 0.9s linear;
}

#stats .stat6 {
  position: relative;
  top: 10px;
  left: 11px;
}

#stats .stat6:hover {
  animation: up 0.9s linear;
}

#stats .stat7 {
  position: relative;
  top: -30px;
  left: -20px;
}

#stats .stat7:hover {
  animation: up 0.9s linear;
}

#stats .stat8 {
  position: relative;
  top: 7px;
  right: 48px;
}

#stats .stat8:hover {
  animation: up 0.9s linear;
}

/* TICKET SECTION */

#tickets {
  background-color: #00ba5e;
  padding-top: 50px;
  padding-bottom: 80px;
  color: black;
}

#tickets h3 {
  color: black;
}

#tickets p {
  text-align: justify;
  font-size: 17px;
}

#tickets img {
  width: 100px;
}

#tickets img:hover {
  animation: up 0.9s linear;
  color: white;
}

.ticketsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.ticketsContainer div {
  width: 16%;
}

.ticketsContainer h3 {
  font-size: 20px;
  color: black;
}

.ticketsContainer h4 {
  font-size: 13px;
}

/* BUTTON  */

.button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 60px 0;
}

.button a {
  text-decoration: none;
}

button {
  background-color: #ffcd44;
  border: 2px solid #ffcd44;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "UEFA Euro";
}

button:hover {
  background-color: #fe0000;
  border: 4px solid #fe0000;
  color: white;
  cursor: pointer;
}

/* FOOTER SECTION */

footer div {
  background-color: #029f4c;
  margin-top: 30px;
}

footer p {
  text-align: center;
  font-size: 10px;
}

footer p:nth-of-type(1) {
  margin-top: -35px;
}

footer ul {
  margin: -16px 0;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: "UEFA Euro";
  font-size: 10px;
}

footer a {
  text-decoration: none;
  font-family: "UEFA Euro";
  color: black;
  text-align: center;
}

footer li {
  width: 71px;
}

footer li:hover {
  text-decoration: underline;
}

footer img {
  width: 100%;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
  }

  nav .big-ul {
    display: none;
  }

  /* nav .mobile-ul {
    display: none;
  } */

  #menuToggle {
    display: block;
    position: relative;
  }

  #menuToggle input {
    position: absolute;
    display: block;
    width: 40px;
    height: 32px;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle .bar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle .bar:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle .bar:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ .bar {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ .bar:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ .bar:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .mobile-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .mobile-ul li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .cup1,
  .uefa-logo1 {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  #tournament {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  #tournament div {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 0.8rem;
  }

  .champions {
    font-size: 1.5rem;
  }

  article:first-of-type {
    padding: 0 1rem;
  }

  article div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
  }

  article img {
    width: 150px;
    height: 150px;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 1.5rem 0;
  }

  .germanyHost {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem 2rem;
    gap: 0;
  }

  .germanyHost div {
    width: 100%;
  }

  .video {
    width: 100%;
  }

  #host-cities {
    padding: 2rem;
  }

  #host-cities h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem;
  }

  #host-cities div {
    width: 100%;
    padding: 0;
  }

  .hostCitiesContainer img {
    width: 100%;
  }

  .hostCitiesContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  .hostCitiesContainer div:first-of-type {
    display: flex;
    justify-content: center;
  }

  #tickets h3 {
    padding: 2rem;
    padding: 0;
    font-size: 1.5rem;
  }

  .ticketsContainer {
    flex-direction: column;
    padding: 0 2rem;
  }

  .ticketsContainer div {
    width: 100%;
  }

  .footer-info {
    padding: 0 1rem;
  }

  .sources {
    flex-wrap: wrap;
  }

  #stats {
    padding: 10rem 0.5rem;
  }

  #stats h3 {
    margin: 0;
    padding: 1rem 0 2rem;
  }

  #stats .stats1 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;

    margin: 0;
    padding: 1rem 0;
  }

  #stats .stat1,
  #stats .stat2,
  #stats .stat3,
  #stats .stat4 {
    margin: 0;
    width: 60%;
    object-fit: cover;
    object-position: center;
  }

  #stats .stats2 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0;
    padding: 0.8rem 0;
    gap: 1.5rem;
  }

  #stats .stat5,
  #stats .stat6,
  #stats .stat7,
  #stats .stat8 {
    object-fit: cover;
    object-position: center;
    margin: 0;
    width: 60%;
    position: initial;
    left: 0;
  }
}
